:root {
    --fuente-alata: 'Alata-Regular';
    --fuente-jose: 'JosefinSans-Light';
}

;

@mixin md {
    @media screen and (max-width: 768px) {
        @content
    }
}

;


@font-face {
    font-family: Alata-Regular;
    src: url('assets/fonts/Alata-Regular.woff2') format('woff');
}

;

@font-face {
    font-family: JosefinSans-Light;
    src: url('assets/fonts/JosefinSans-Light.woff2') format('woff');
}

;

* {
    margin: 0;
    padding: 0;
}

/*Cabecera*/

header {
    width: 100%;
    background-image: url('assets/images/desktop/image-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .ctnHeader {
        position: relative;

        .ctnHeader_interno {
            display: flex;
            flex-direction: column;
            max-width: 70rem;
            padding: 3rem 1.5rem;
            margin: 0 auto;

            .ctn_navegacion {
                display: flex;
                justify-content: space-between;
                align-items: center;

                @include md {
                    flex-direction: column;
                }

                .ctnIconos {
                    display: flex;
                    justify-content: space-between;
                    max-width: 250px;
                    width: 100%;

                    @include md {
                        max-width: 600px;
                        width: 100%;
                        justify-content: space-between;
                    }

                    .btnMenu {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        background-color: transparent;
                        height: 30px;
                        width: 30px;
                        gap: 5px;
                        border: none;
                        cursor: pointer;
                        opacity: 0;
                        z-index: 1;

                        @include md {
                            opacity: 1;
                        }

                        .rayaArriba {
                            height: 2px;
                            width: 20px;
                            background: #fff;
                            transition: 0.4s;
                        }

                        .rayaMedio {
                            height: 2px;
                            width: 20px;
                            background: #fff;

                        }

                        .rayaAbajo {
                            height: 2px;
                            width: 20px;
                            background: #fff;
                            transition: 0.4s;
                        }
                    }

                    .btnMenu:hover .rayaMedio {
                        opacity: 0;
                    }

                    .btnMenu:hover .rayaArriba {
                        transform-origin: top left;
                        transform: rotate(45deg) translateX(0.5px);
                    }

                    .btnMenu:hover .rayaAbajo {
                        transform-origin: bottom left;
                        transform: rotate(-45deg) translateX(0.5px);
                    }
                }

                .ctn_listaNav {
                    display: flex;
                    gap: 2rem;
                    font-family: var(--fuente-alata);
                    font-weight: bold;

                    @include md {
                        display: none;
                    }

                    li {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 0.5rem;

                        a {
                            text-decoration: none;
                            color: #fff;
                        }

                        hr {
                            border: solid 1px #fff;
                            width: 50%;
                            opacity: 0;
                            transition: 0.3s;
                        }
                    }

                    li:hover hr {
                        opacity: 1;
                    }
                }
            }

            .ctn_impressive {
                max-width: 27rem;
                border: solid 0.2rem #fff;
                color: #fff;
                text-transform: uppercase;
                font-size: 3.7em;
                line-height: 1;
                font-family: var(--fuente-jose);
                padding: 2.5rem;
                margin: 8rem 0;

                @include md {
                    max-width: 31rem;
                    margin: 9rem 0;
                    font-size: 2.15em;
                    padding: 1.5rem;
                    border: solid 0.2rem #ccc;
                }
            }
        }

        .ctnHeader_celular {
            position: absolute;
            height: 100vh;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: #000;

            .ctnInter_celular {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin-top: 10rem;
                gap: 2rem;
                font-family: var(--fuente-alata);
                font-weight: bold;

                li {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5rem;

                    a {
                        text-decoration: none;
                        color: #fff;
                    }

                    hr {
                        border: solid 1px #fff;
                        width: 50%;
                        opacity: 0;
                        transition: 0.3s;
                    }
                }

                li:hover hr {
                    opacity: 1;
                }

            }
        }
    }


}

/*Cuerpo de la página*/

main {
    width: 100%;
    display: flex;
    justify-content: center;

    .contenedor {
        display: flex;
        flex-direction: column;
        justify-items: center;
        max-width: 1200px;
        width: 100%;
        margin: 0 1rem;

        .ctn-VR {
            display: flex;
            flex-direction: row;
            position: relative;
            margin: 10rem 0;
            z-index: 1;

            @include md {
                width: 90%;
                margin: 6rem auto;
                margin-bottom: 1rem;
            }

            .img_VR {
                @include md {
                    display: block;
                    width: 100%;
                }
            }

            .ctn_VRinteractiva {
                background: #fff;
                position: absolute;
                max-width: 580px;
                padding: 5rem 0 5rem 5rem;
                bottom: -8rem;
                right: 0;
                box-sizing: border-box;

                @include md {
                    position: relative;
                    bottom: 0;
                    padding: 5rem 0;
                    margin: 0 auto;
                    text-align: center;
                }


                h3 {
                    font-family: var(--fuente-jose);
                    color: #000;
                    font-size: 3rem;
                    font-weight: normal;
                    text-transform: uppercase;

                    @include md {
                        font-size: 2.2em;
                    }
                }

                p {
                    font-family: var(--fuente-jose);
                    font-size: 1rem;
                    line-height: 1.5;
                    padding-top: 1rem;
                }
            }

            @include md {
                flex-direction: column;
            }
        }

        .ctn_titulo {
            display: flex;
            justify-content: space-between;
            margin: 0 0 8rem 0;

            @include md {
                width: 90%;
                margin: 0 auto;
            }

            p {
                font-size: 3.5rem;
                font-family: var(--fuente-jose);
                text-transform: uppercase;

                @include md {
                    margin: 0 auto;
                    text-align: center;
                    font-size: 2.3em;
                }
            }

            button {
                display: block;
                margin: 0;
                max-width: 150px;
                border: solid 2px #000;
                color: #000;
                background: #fff;
                text-transform: uppercase;
                padding: 12px 40px;
                font-size: 1.2rem;
                font-family: var(--fuente-alata);
                font-weight: 700;
                cursor: pointer;

                @include md {
                    display: none;
                }
            }
        }

        .ctn-galeria {
            display: flex;
            justify-content: space-between;
            margin: 0 0 8rem 0;

            @include md {
                display: flex;
                flex-direction: column;
                width: 90%;
                gap: 2rem;
                margin: 2rem auto;
            }

            .ctnInterno_galeria {
                width: 23%;
                position: relative;
                overflow: hidden;

                @include md {
                    width: 100%;
                }

                .img-computador {
                    width: 100%;
                    display: block;
                    transition: 0.2s;

                    @include md {
                        display: none;
                    }
                }

                .img-celular {
                    display: block;
                    width: 100%;
                    transition: 0.2s;
                    display: none;

                    @include md {
                        display: block;
                    }
                }

                div {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    background: linear-gradient(0deg, rgb(17, 24, 39, 1) 0%, rgba(17, 24, 39, 0) 100%);
                }

                p {
                    position: absolute;
                    text-transform: uppercase;
                    bottom: 3rem;
                    padding: 0 0 0 30px;
                    font-size: 24px;
                    color: #fff;
                    font-family: var(--fuente-jose);
                    width: 90%;
                    box-sizing: border-box;
                    line-height: 1.5;

                    @include md {
                        font-size: 1.5em;
                        bottom: 1rem;
                        transition: 0.2s;
                    }
                }
            }

            .ctnInterno_galeria:hover img {
                transform: scale(1.1);
            }

            .ctnInterno_galeria:hover p {
                color: #000;

                @include md {
                    transform: scale(1.1);
                }
            }

            .ctnInterno_galeria:hover div {
                background: #fff;
                opacity: 0.5;
            }
        }

        button {
            border: solid 2px #000;
            color: #000;
            background: #fff;
            text-transform: uppercase;
            padding: 12px 40px;
            font-size: 1.2rem;
            font-family: var(--fuente-alata);
            font-weight: 500;
            width: 90%;
            margin: 2rem auto;
            cursor: pointer;
            display: none;

            @include md {
                display: block;
            }
        }

        button:hover {
            background: #000;
            color: #fff;
        }
    }
}

/*pie de página*/

footer {
    display: flex;
    justify-content: center;
    background: #000;

    .ctn_footer {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        width: 100%;
        margin: 0 1rem;
        padding: 40px 0;

        @include md {
            flex-direction: column;
            align-items: center;
            gap: 2rem;
        }

        .ctn_navFooter {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;

            @include md {
                align-items: center;
                gap: 1rem;
            }

            ul {
                display: flex;
                gap: 2rem;
                font-family: var(--fuente-alata);

                @include md {
                    flex-direction: column;
                    gap: 1rem;
                }

                li {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 0.1rem;

                    a {
                        text-decoration: none;
                        color: #fff;
                    }

                    hr {
                        border: solid 1px #fff;
                        width: 50%;
                        opacity: 0;
                        transition: 0.3s;
                    }
                }

                li:hover hr {
                    opacity: 1;
                }
            }
        }

        .ctn_redesSociales {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;

            @include md {
                align-items: center;
            }

            .ctn_imagenes {
                display: flex;
                gap: 2rem;
            }

            p {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                color: #999;
                font-weight: 300;
            }
        }
    }
}